// VARIABLES =============================
// =======================================

$color-background: #e5e1dc;
$color-background-content: #ffffff;
$color-divider: #dcdddc;
$color-navigation: #39393a;

$color-text-primary: #39393a;
$color-text-secondary: #989690;
$color-text-inverse-primary: #ffffff;
$color-text-inverse-secondary: lightGray;
$color-text-accent: #f68d5e;
$color-text-accent2: #9cafb7;

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:500&display=swap");

$font-family-header: "Oswald", sans-serif;
$font-family-body: "Open Sans", sans-serif;
